.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 2em;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

section input {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 1em;
  
}

h2 {
    margin-bottom: 1em;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

#resultadoAscii {
  margin-top: 20px;
  text-align: left;
}
